<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.jz.dao.extend.AccountApplyExtendMapper">
  <select id="select" resultMap="AccountApplyExtendResultMap">
  	select * 
  	from jz_account_apply
  	<where>
  		<if test="status != null">
  			 status like concat("%",#{status},"%")
  		</if>
  		<if test="applyType != null">
  			and apply_type = #{applyType}
  		</if>
  		<if test="userId != null">
  			and user_id = #{userId}
  		</if>
  	</where>
  </select>
  
  <resultMap 
  	type="com.briup.jz.bean.extend.AccountApplyExtend" 
  	extends="com.briup.jz.dao.AccountApplyMapper.BaseResultMap"
  	id="AccountApplyExtendResultMap">
  	<!-- 基本属性从extends中已经继承 -->
  	<!-- 多对一映射 -->
  	<association 
  		property="baseUser" 
  		column="user_id" 
  		select="com.briup.jz.dao.BaseUserMapper.selectByPrimaryKey"></association>

  </resultMap>
  
  
  
</mapper>